/*.add-book-wrapper {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    margin-bottom: 24px;*/
/*}*/

/*.add-book-btn {*/
/*    background-color: #2f66ed;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 8px;*/
/*    padding: 10px 16px;*/
/*    font-size: 14px;*/
/*    font-weight: 600;*/
/*    cursor: pointer;*/
/*}*/

/*.add-book-btn:hover {*/
/*    background-color: #2552c8;*/
/*}*/
